<script type="text/javascript" src="~/Scripts/jquery-1.12.4.min.js"></script>
<script src="/scripts/jquery.validate.js"></script>

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/CustomStyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Scripts/jquery-ui.min.css">
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <link rel="stylesheet" href="https://openlayers.org/en/v4.6.5/css/ol.css" type="text/css">

    <style>

        .map {
            height: 440px;
            width: 80%;
            margin-left: 7em;
            margin-top: 1.2em;
        }

        .locBtn {
            cursor: pointer;
            text-align: center;
            font-size: 14px;
            font-weight: 600;
            width: 12em;
            padding-left: 2em;
            padding-right: 2em;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            margin-top: 0.5em;
            margin-left: 73%;
        }

        .navbarBtn {
            background-color: yellow;
            color: black;
            cursor: pointer;
            border: 1px solid gray;
            text-align: center;
            outline: solid;
            font-size: 14px;
            font-weight: 600;
            width: 12em;
            padding-left: 2em;
            padding-right: 2em;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            margin-top: 0.66em;
        }

        .accordion {
            background-color: #f6f6f6;
            color: #1e1e1e;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            transition: 0.4s;
        }

            .active, .accordion:hover {
                background-color: #1e1e1e;
                color: #f6f6f6;
            }

        button.accordion.active, button.accordion:hover {
            background-color: #1e1e1e;
            color: #f6f6f6;
        }

        button.accordion:after {
            content: '\002B';
            color: #777;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }

        button.accordion.active:after {
            content: "\2212";
        }

        .panel {
            padding: 0 18px;
            display: none;
            background-color: lightgray;
            overflow: hidden;
        }
    </style>

    <script src="https://openlayers.org/en/v4.6.5/build/ol.js" type="text/javascript"></script>
</head>
<body>
    <div id="dispecerUlogovan">
        <div id="LogovanjeDiv" class="header">
            <form id="LogovanjeForm">
                <font size="4">
                    <font size="7">
                        <font color="yellow"><b>TAXI</b></font>SLUŽBA
                    </font>
                </font>
                <table align="right">

                    <tr>
                        <td><input class="navbarBtn" id="submitProfil" type="button" name="submitProfil" value="Profil"></td>
                        <td><input class="navbarBtn" id="submitLogout" type="button" name="submitLogout" value="Izlogujte se"></td>
                        <td colspan="7">&nbsp;</td>
                    </tr>
                </table>
            </form>
        </div>
        <div id="RegistracijaDiv" class="row">
            <div class="left">

                <div id="map" class="map"></div>

                <button class="locBtn" id="find_btn">Locirajte se</button>
                <input type="hidden" id="latitude" name="latitude" value=45.24239>
                <input type="hidden" id="longitude" name="longitude" value=19.8426221>
                <input type="hidden" id="address" name="address" value="">
            </div>
            <div class="right">
                <button class="accordion">Registrujte vozača</button>
                <div class="panel">
                    <form id="Registracija" action="" method="post">
                        <table align="right" class="regTable">
                            <tr>
                                <td colspan="2">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Korisničko ime: </td>
                                <td><input class="txtbox" id="korisnicko" type="text" name="korisnicko" required></td>
                            </tr>
                            <tr>
                                <td>Lozinka: </td>
                                <td><input id="lozinka" type="password" name="lozinka" required></td>
                            </tr>
                            <tr>
                                <td>Ime: </td>
                                <td><input id="ime" type="text" name="ime" required></td>
                            </tr>
                            <tr>
                                <td>Prezime: </td>
                                <td><input id="prezime" type="text" name="prezime" required></td>
                            </tr>
                            <tr>
                                <td>Pol: </td>
                                <td><input type="radio" name="pol" value=0 checked> M &nbsp;&nbsp; <input type="radio" name="pol" value=1> Ž</td>
                            </tr>
                            <tr>
                                <td>JMBG: </td>
                                <td><input id="jmbg" type="text" name="jmbg" required></td>
                            </tr>
                            <tr>
                                <td>Kontakt telefon: </td>
                                <td><input id="telefon" type="tel" placeholder="0665556677" name="telefon" required></td>
                            </tr>
                            <tr>
                                <td>E-mail: </td>
                                <td><input id="email" type="email" name="email" required></td>
                            </tr>

                            <tr>
                                <td>Godište automobila: </td>
                                <td><input id="godiste" type="text" name="godiste" required></td>
                            </tr>
                            <tr>
                                <td>Registarska oznaka: </td>
                                <td><input id="regOznaka" type="text" name="regOznaka" required></td>
                            </tr>
                            <tr>
                                <td>Taxi oznaka: </td>
                                <td><input id="taxiOznaka" type="text" name="taxiOznaka" required></td>
                            </tr>
                            <tr>
                                <td>Tip automobila: </td>
                                <td>
                                    <select name="tip" id="tip">
                                        <option>Nebitno</option>
                                        <option>Putničko</option>
                                        <option>Kombi</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp; </td>
                                <td><input id="submitRegistracija" type="button" name="submitRegistracija" value="Registrujte vozača"></td>
                            </tr>
                            <tr>
                                <td colspan="2">&nbsp;</td>
                            </tr>
                        </table>
                    </form>
                </div>
                <button class="accordion">Formirajte vožnju</button>
                <div class="panel">
                    <form id="kreirajVoznju">
                        Tip automobila:
                        <br />
                        <select name="tipAutomobila" id="tipAutomobila" style="width:350px">
                            <option>Nebitno</option>
                            <option>Putničko</option>
                            <option>Kombi</option>
                        </select>
                        <br />
                        Slobodni vozači:
                        <br />
                        <select name="slobodniVozaciKreiranje" id="slobodniVozaciKreiranje" size="5" style="width:350px"></select>
                        <br />
                        <input style="width:350px;height:40px;cursor:pointer;" id="submitKreirajVoznju" type="button" name="submitKreirajVoznju" value="Kreiraj vožnju">
                    </form>
                </div>
                <button class="accordion">Dodelite vožnju</button>
                <div class="panel">
                    <form id="dodeliVoznju">
                        Nedodeljene vožnje:
                        <br />
                        <select name="nedodeljeneVoznje" id="nedodeljeneVoznje" size="5" style="width:350px"></select>
                        <br />
                        Slobodni vozači:
                        <br />
                        <select name="slobodniVozaciDodela" id="slobodniVozaciDodela" size="5" style="width:350px"></select>
                        <br />
                        <input style="width:350px;height:40px;cursor:pointer;" id="submitDodeliVoznju" type="button" name="submitDodeliVoznju" value="Dodeli vožnju">
                    </form>
                </div>
                <button class="accordion">Prikažite vožnje</button>
                <div class="panel">
                    <form id="prikaziVoznje">
                        Status vožnje:
                        <select name="status" id="status">
                            <option value="0">Kreirana - na čekanju</option>
                            <option value="1">Otkazana</option>
                            <option value="2">Formirana</option>
                            <option value="3">Obrađena</option>
                            <option value="4">Prihvaćena</option>
                            <option value="5">Neuspešna</option>
                            <option value="6">Uspešna</option>
                            <option value="7" selected>Nebitno</option>
                        </select><br />
                        Sortiranje:
                        <input checked type="radio" name="sort" value="0"> Bez sortiranja
                        <input type="radio" name="sort" value="1"> Datum
                        <input type="radio" name="sort" value="2"> Ocena<br />
                        <select name="voznje" id="voznje" size="5" style="width:350px"></select>
                        <br />
                        <input id="sveVoznje" name="sveVoznje" type="checkbox" value="1"/> Sve vožnje
                        <br />
                        <input style="width:350px;height:40px;cursor:pointer;" id="submitPrikaziVoznju" type="button" name="submitPrikaziVoznju" value="Informacije o vožnji">
                    </form>
                </div>
                <button class="accordion">Pretražite vožnju</button>
                <div class="panel">
                    <form id="pretraziVoznje">
                        Datum:&nbsp;&ensp;&nbsp;&thinsp;
                        <input name="datumOd" id="datumOd" style="width:130px"> - <input name="datumDo" id="datumDo" style="width:130px">
                        <br />
                        Ocena:&nbsp;&ensp;&nbsp;&thinsp;
                        <select name="ocenaOd" id="ocenaOd" style="width:130px">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select> -
                        <select name="ocenaDo" id="ocenaDo" style="width:130px">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option selected>5</option>
                        </select>
                        <br />
                        Cena:&nbsp;&nbsp;&nbsp;&ensp;&nbsp;&thinsp;
                        <input type="text" name="cenaOd" id="cenaOd" style="width:130px"> - <input name="cenaDo" id="cenaDo" style="width:130px">
                        <br />
                        Vozačevo ime:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&thinsp;&nbsp;&emsp;
                        <input type="text" name="vozacIme" id="vozacIme" style="width:187px">
                        <br />
                        Vozačevo prezime:&thinsp;&nbsp;&emsp;
                        <input type="text" name="vozacPrezime" id="vozacPrezime" style="width:187px">
                        <br />
                        Mušterijino ime:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp;
                        <input type="text" name="musterijaIme" id="musterijaIme" style="width:187px">
                        <br />
                        Mušterijino prezime:&emsp;
                        <input type="text" name="musterijaPrezime" id="musterijaPrezime" style="width:187px">
                        <br />
                        <input style="width:350px;height:40px;cursor:pointer;" id="submitPretraga" type="button" name="submitPretraga" value="Pronađite vožnje">
                        <br /><br />
                        Pronađene vožnje:
                        <br />
                        <select name="pronadjeneVoznje" id="pronadjeneVoznje" size="5" style="width:350px"></select>
                        <br />
                        <input style="width:350px;height:40px;cursor:pointer;" id="submitPrikaz" type="button" name="submitPrikaz" value="Informacije o vožnji">
                    </form>
                </div>
                <button class="accordion">Blokirajte korisnike</button>
                <div class="panel">
                    <form id="blokirajKorisnika">
                        <select name="korisniciBlokiraj" id="korisniciBlokiraj" size="5" style="width:350px"></select>
                        <br />
                        <input style="width:350px;height:40px;cursor:pointer;" id="submitBlokiraj" type="button" name="submitBlokiraj" value="Blokirajte korisnika">
                    </form>
                </div>
                <button class="accordion">Odblokirajte korisnike</button>
                <div class="panel">
                    <form id="odblokirajKorisnika">
                        <select name="korisniciOdblokiraj" id="korisniciOdblokiraj" size="5" style="width:350px"></select>
                        <br />
                        <input style="width:350px;height:40px;cursor:pointer;" id="submitOdblokiraj" type="button" name="submitOdblokiraj" value="Odblokirajte korisnika">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('#status').change(function () {
            var parameters = {
                Filter: $('#status').val(),
                Sort: $('input[name="sort"]:checked').val(),
                AllRides: 0
            };

            if ($('#sveVoznje').prop('checked')) {
                parameters.AllRides = 1
            }

            var JSONObj = JSON.stringify(parameters);

            console.log(JSONObj);

            $("#voznje").empty();
            $.ajax({
                type: 'POST',
                url: 'api/FilterAndSort',
                data: JSONObj,
                success: function (data) {
                    $.ajax({
                        type: 'GET',
                        url: '/api/Admin/FilterAndSort',
                        success: function (data) {
                            var array = JSON.parse(data);
                            if (array != null) {
                                for (var i in array) {
                                    $("#voznje").append('<option>' + array[i] + '</option>');
                                }
                            }
                        },
                    });
                },
                error: function (response) {
                    console.log(response.responseText);
                }
            });
        });

        $('input[name="sort"]').change (function () {
            var parameters = {
                Filter: $('#status').val(),
                Sort: $('input[name="sort"]:checked').val(),
                AllRides: 0
            };

            if ($('#sveVoznje').prop('checked')) {
                parameters.AllRides = 1
            }

            var JSONObj = JSON.stringify(parameters);

            console.log(JSONObj);

            $("#voznje").empty();
            $.ajax({
                type: 'POST',
                url: 'api/FilterAndSort',
                data: JSONObj,
                success: function (data) {
                    $.ajax({
                        type: 'GET',
                        url: '/api/Admin/FilterAndSort',
                        success: function (data) {
                            var array = JSON.parse(data);
                            if (array != null) {
                                for (var i in array) {
                                    $("#voznje").append('<option>' + array[i] + '</option>');
                                }
                            }
                        },
                    });
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });

        $("#sveVoznje").change(function () {
            var parameters = {
                Filter: $('#status').val(),
                Sort: $('input[name="sort"]:checked').val(),
                AllRides: 0
            };

            if ($('#sveVoznje').prop('checked')) {
                parameters.AllRides = 1
            }

            var JSONObj = JSON.stringify(parameters);

            console.log(JSONObj);

            $("#voznje").empty();
            $.ajax({
                type: 'POST',
                url: 'api/FilterAndSort',
                data: JSONObj,
                success: function (data) {
                    $.ajax({
                        type: 'GET',
                        url: '/api/Admin/FilterAndSort',
                        success: function (data) {
                            var array = JSON.parse(data);
                            if (array != null) {
                                for (var i in array) {
                                    $("#voznje").append('<option>' + array[i] + '</option>');
                                }
                            }
                        },
                    });
                },
                error: function (response) {
                    console.log(response.responseText);
                }
            });
        });
    </script>

    <script>
        $(function () {
            $("#datumOd").datepicker();
            $("#datumOd").datepicker("setDate", "01/01/2018");
            $("#datumDo").datepicker();
            $("#datumDo").datepicker("setDate", +1);
        });
    </script>

    <script type="text/javascript">

        const markerSource = new ol.source.Vector();
        var markerStyle = new ol.style.Style({
            image: new ol.style.Icon(({
                anchor: [0.5, 46],
                anchorXUnits: 'fraction',
                anchorYUnits: 'pixels',
                opacity: 0.75,
                src: 'https://openlayers.org/en/v4.6.5/examples/data/icon.png'
            }))
        });
        var map = new ol.Map({
            target: 'map',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                }),
                new ol.layer.Vector({
                    source: markerSource,
                    style: markerStyle,
                }),
            ],
            view: new ol.View({
                center: ol.proj.fromLonLat([19.8426221, 45.24239]),
                zoom: 17
            })
        });
        addMarker(19.8426221, 45.24239);
        reverseGeocode([19.8426221, 45.24239])

        function reverseGeocode(coords) {
            fetch('http://nominatim.openstreetmap.org/reverse?format=json&lon=' + coords[0] + '&lat=' + coords[1])
                .then(function (response) {
                    return response.json();
                }).then(function (json) {
                    $("#latitude").val(json.lat);
                    $("#longitude").val(json.lon);
                    $('#address').val(json.address.road + " " + json.address.house_number + ", " + json.address.city + " " + json.address.postcode);
                });
        }


        function addMarker(lon, lat) {
            var iconFeature = new ol.Feature({
                geometry: new ol.geom.Point(ol.proj.transform([lon, lat], 'EPSG:4326',
                    'EPSG:3857')),
            });

            markerSource.addFeature(iconFeature);
            CenterMap(lon, lat)
        }

        function removeSelectedFeature() {
            var features = markerSource.getFeatures();
            if (features != null && features.length > 0) {
                for (x in features) {
                    var properties = features[x].getProperties();
                    var id = properties.id;
                    markerSource.removeFeature(features[x]);
                }
            }
        }

        map.on('click', function (event) {
            var lonLat = ol.proj.toLonLat(event.coordinate);
            removeSelectedFeature();
            addMarker(lonLat[0], lonLat[1]);
            reverseGeocode(lonLat);
        });

        $("#find_btn").click(function () { //user clicks button
            if ("geolocation" in navigator) { //check geolocation available
                removeSelectedFeature();
                navigator.geolocation.getCurrentPosition(function (position) {
                    lonLat = [position.coords.longitude, position.coords.latitude]
                    addMarker(lonLat[0], lonLat[1]);
                    reverseGeocode(lonLat);
                });
            } else {
                console.log("Browser doesn't support geolocation!");
            }
        });

        function CenterMap(long, lat) {
            map.getView().setCenter(ol.proj.transform([long, lat], 'EPSG:4326', 'EPSG:3857'));
            map.getView().setZoom(17);
        }
    </script>

    <script>
        $('#submitLogout').on('click', function () {
            $.ajax({
                type: 'POST',
                url: '/api/Logout',
                data: '',
                success: function (data) {
                    window.location.href = '/Home/Index';
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

            $('input[type="text"]').val('');
            window.location.href = '/Home/Index';
            localStorage.setItem("session", null);
        });

        $(function () {
            $('#submitProfil').on('click', function () {
                window.location.href = '/Home/EditProfile';
            });

            $('#submitPrikaziVoznju').on('click', function () {

                var ride = {
                    Voznja: $('#voznje').val(),
                };

                var JSONObj = JSON.stringify(ride);

                $.ajax({
                    type: 'POST',
                    url: '/api/Ride',
                    data: JSONObj,
                    success: function (data) {

                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });

                window.location.href = '/Home/RideInfo';
            });

            $('#submitPrikaz').on('click', function () {

                var ride = {
                    Voznja: $('#pronadjeneVoznje').val(),
                };

                var JSONObj = JSON.stringify(ride);

                $.ajax({
                    type: 'POST',
                    url: '/api/Ride',
                    data: JSONObj,
                    success: function (data) {

                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });

                window.location.href = '/Home/RideInfo';
            });

            $('#submitKreirajVoznju').on('click', function () {
                var voznja = {
                    KoordinataX: $('#latitude').val(),
                    KoordinataY: $('#longitude').val(),
                    Adresa: $('#address').val(),
                    Vozac: $('#slobodniVozaciKreiranje').val(),
                    TipAutomobila: $('#tipAutomobila').val(),
                };

                var JSONObj = JSON.stringify(voznja);

                $.ajax({
                    type: 'POST',
                    url: '/api/Admin/CreateRide',
                    data: JSONObj,
                    success: function (data) {
                        var object = JSON.parse(data);
                        window.location.href = '/Home/Admin'
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });

            })

            $('#submitRegistracija').on('click', function () {
                var user = {
                    KorisnickoIme: $('#korisnicko').val(),
                    Lozinka: $('#lozinka').val(),
                    Ime: $('#ime').val(),
                    Prezime: $('#prezime').val(),
                    Pol: $('input[name=pol]:checked').val(),
                    Jmbg: $('input[name=jmbg]').val(),
                    KontaktTelefon: $('input[name=telefon]').val(),
                    Email: $('input[name=email]').val(),
                    Uloga: 1
                };

                var car = {
                    Vozac: user,
                    Godiste: $('#godiste').val(),
                    RegistarskaOznaka: $('#regOznaka').val(),
                    TaxiOznaka: $('#taxiOznaka').val(),
                    Tip: $('#tip').prop('selectedIndex')
                };

                var JSONObj = JSON.stringify(user);
                var JSONCar = JSON.stringify(car);

                $.ajax({
                    type: 'POST',
                    url: '/api/Register',
                    data: JSONObj,
                    success: function (data) {
                        //var object = JSON.parse(data);
                        //alert('Vozač ' + object.KorisnickoIme + ' registrovan.');
                        $.ajax({
                            type: 'POST',
                            url: '/api/Register/AddCar',
                            data: JSONCar,
                            success: function (data) {
                                var object = JSON.parse(data);
                                alert('Vozač ' + object.Vozac.KorisnickoIme + ' registrovan.');
                            },
                            error: function (response) {
                                alert(response.responseText);
                            }
                        });
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
                $('input[type="text"]').val('');
                $('input[type="password"]').val('');
                window.location.href = '/Home/Admin';
            })
        });

        $('#submitPretraga').on('click', function () {

            var data = {
                DatumOd: $('#datumOd').val(),
                DatumDo: $('#datumDo').val(),
                OcenaOd: $('#ocenaOd').val(),
                OcenaDo: $('#ocenaDo').val(),
                CenaOd: $('#cenaOd').val(),
                CenaDo: $('#cenaDo').val(),
                VozacIme: $('#vozacIme').val(),
                VozacPrezime: $('#vozacPrezime').val(),
                MusterijaIme: $('#musterijaIme').val(),
                MusterijaPrezime: $('#musterijaPrezime').val(),
            };
            $("#pronadjeneVoznje").empty();
            var JSONObj = JSON.stringify(data);
            console.log(JSONObj);
            $.ajax({
                type: 'POST',
                url: '/api/Admin/Search',
                data: JSONObj,
                success: function (data) {
                    var array = JSON.parse(data);
                    if (array != null) {
                        for (var i in array) {
                            $("#pronadjeneVoznje").append('<option>' + array[i] + '</option>');
                        }
                    }
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    </script>

    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
    </script>

    <script>
        $(function () {
            $.ajax({
                type: 'GET',
                url: '/api/Admin/GetUsers',
                success: function (data) {
                    var array = JSON.parse(data);
                    if (array != null) {
                        for (var i in array) {
                            $("#korisniciBlokiraj").append('<option>' + array[i] + '</option>');
                        }
                    }
                },
            });
        })
    </script>

    <script>
        $(function () {
            $.ajax({
                type: 'GET',
                url: '/api/Admin/GetBannedUsers',
                success: function (data) {
                    var array = JSON.parse(data);
                    if (array != null) {
                        for (var i in array) {
                            $("#korisniciOdblokiraj").append('<option>' + array[i] + '</option>');
                        }
                    }
                },
            });
        })
    </script>

    <script>
        $(function () {
            $("#submitBlokiraj").click(function () {
                var selected = {
                    KorisnickoIme: $('#korisniciBlokiraj').val()
                };
                var JSONObj = JSON.stringify(selected);
                $.ajax({
                    type: 'POST',
                    data: JSONObj,
                    url: '/api/Admin/Ban',
                    success: function (data) {
                        var object = JSON.parse(data);
                        alert('Korisnik ' + object.KorisnickoIme + ' blokiran.');
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
                window.location.href = '/Home/Admin';
            });

        })
    </script>

    <script>
        $(function () {
            $("#submitOdblokiraj").click(function () {
                var selected = {
                    KorisnickoIme: $('#korisniciOdblokiraj').val()
                };
                var JSONObj = JSON.stringify(selected);
                $.ajax({
                    type: 'DELETE',
                    data: JSONObj,
                    url: '/api/Admin/Unban',
                    success: function (data) {
                        var object = JSON.parse(data);
                        alert('Korisnik ' + object + ' odblokiran.');
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
                window.location.href = '/Home/Admin';
            });

        })
    </script>

    <script>
        $(function () {
            var lokacija = {
                Adresa: $('#address').val(),
                KoordinataX: $('#latitude').val(),
                KoordinataY: $('#longitude').val()
            };
            var JSONObj = JSON.stringify(lokacija);
            $.ajax({
                type: 'PUT',
                url: '/api/Admin/GetClosestFreeDrivers',
                data: JSONObj,
                success: function (data) {
                    var array = JSON.parse(data);
                    if (array != null) {
                        for (var i in array) {
                            $("#slobodniVozaciKreiranje").append('<option>' + array[i] + '</option>');
                            $("#slobodniVozaciDodela").append('<option>' + array[i] + '</option>');
                        }
                    }
                },
            });
        })
    </script>

    <script>
        $(function () {

            $.ajax({
                type: 'GET',
                url: '/api/Admin/GetAdminRides',
                success: function (data) {
                    var array = JSON.parse(data);
                    if (array != null) {
                        for (var i in array) {
                            $("#voznje").append('<option>' + array[i] + '</option>');
                        }
                    }
                },
            });

        })
    </script>

    <script>
        $(function () {

            $.ajax({
                type: 'GET',
                url: '/api/Admin/GetUnassignedRides',
                success: function (data) {
                    var array = JSON.parse(data);
                    if (array != null) {
                        for (var i in array) {
                            $("#nedodeljeneVoznje").append('<option>' + array[i] + '</option>');
                        }
                    }
                },
            });

        })
    </script>
</body>