<script type="text/javascript" src="/scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrjeABCsOwW1rhi7eW6_b_fWF8OK2HeiA"></script>
<script type="text/javascript" src="~/Scripts/jquery.googlemap.js"></script>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/CustomStyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .locBtn {
            cursor: pointer;
            text-align: center;
            font-size: 14px;
            font-weight: 600;
            width: 12em;
            padding-left: 2em;
            padding-right: 2em;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            margin-top: 0.5em;
            margin-left: 73%;
        }

        .navbarBtn {
            background-color: yellow;
            color: black;
            cursor: pointer;
            border: 1px solid gray;
            text-align: center;
            outline: solid;
            font-size: 14px;
            font-weight: 600;
            width: 12em;
            padding-left: 2em;
            padding-right: 2em;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            margin-top: 0.66em;
        }

        .accordion {
            background-color: #f6f6f6;
            color: #1e1e1e;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            transition: 0.4s;
        }

            .active, .accordion:hover {
                background-color: #1e1e1e;
                color: #f6f6f6;
            }

        button.accordion.active, button.accordion:hover {
            background-color: #1e1e1e;
            color: #f6f6f6;
        }

        button.accordion:after {
            content: '\002B';
            color: #777;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }

        button.accordion.active:after {
            content: "\2212";
        }

        .panel {
            padding: 0 18px;
            display: none;
            background-color: lightgray;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <div id="musterijaUlogovana">
        <div id="LogovanjeDiv" class="header">
            <form id="LogovanjeForm">
                <font size="4">
                    <font size="7">
                        <font color="yellow"><b>TAXI</b></font>SLUŽBA
                    </font>
                </font>
                <table align="right">

                    <tr>
                        <td><input class="navbarBtn" id="submitProfil" type="button" name="submitProfil" value="Profil"></td>
                        <td><input class="navbarBtn" id="submitLogout" type="button" name="submitLogout" value="Izlogujte se"></td>
                        <td colspan="7">&nbsp;</td>
                    </tr>
                </table>
            </form>
        </div>
        <div id="RegistracijaDiv" class="row">
            <div class="left">
                <div id="map" style="height:440px;width:80%;margin-left:7em;margin-top:1.2em;position:fixed;"></div>
                <button class="locBtn" id="find_btn">Locirajte se</button>
                <input type="hidden" id="latitude" name="latitude" value=45.24239>
                <input type="hidden" id="longitude" name="longitude" value=19.8426221>
                <input type="hidden" id="address" name="address" value="">
            </div>
            <div class="right">
                <button class="accordion">Zahtevajte vožnju</button>
                <div class="panel">
                    <form id="zahtevajVoznju">
                        Tip automobila:
                        <br />
                        <select name="tipAutomobila" id="tipAutomobila" size="2" style="width:350px">
                            <option>Putničko</option>
                            <option>Kombi</option>
                        </select>
                        <br />
                        <input style="width:350px;height:40px;cursor:pointer;" id="submitZahtevajVoznju" type="button" name="submitZahtevajVoznju" value="Zahtev">
                    </form>
                </div>
                <button class="accordion">Izmenite zahtev</button>
                <div class="panel">
                    <form id="izmeniZahtev">
                        Neobrađeni zahtevi:
                        <br />
                        <select name="nedodeljeneVoznjeIzmeni" id="nedodeljeneVoznjeIzmeni" size="5" style="width:350px"></select>
                        <br />
                        <input style="width:350px;height:40px;cursor:pointer;" id="submitIzmeniVoznju" type="button" name="submitIzmeniVoznju" value="Izmenite zahtev">
                    </form>
                </div>
                <button class="accordion">Poništite zahtev</button>
                <div class="panel">
                    <form id="otkaziZahtev">
                        Neobrađeni zahtevi:
                        <br />
                        <select name="nedodeljeneVoznjeOtkazi" id="nedodeljeneVoznjeOtkazi" size="5" style="width:350px"></select>
                        <br />
                        <input style="width:350px;height:80px;cursor:text;" id="komentarOtkazi" type="text" name="komentarOtkazi">
                        <br />
                        <input style="width:350px;height:40px;cursor:pointer;" id="submitOtkaziVoznju" type="button" name="submitOtkaziVoznju" value="Poništite zahtev">
                    </form>
                </div>
                <button class="accordion">Prikažite vožnje</button>
                <div class="panel">
                    <form id="prikaziVoznje">
                        <select name="voznje" id="voznje" size="5" style="width:350px"></select>
                        <br />
                        <input style="width:350px;height:40px;cursor:pointer;" id="submitPrikaziVoznju" type="button" name="submitPrikaziVoznju" value="Informacije o vožnji">
                    </form>
                </div>
                <button class="accordion">Pretražite vožnju</button>
                <div class="panel">
                    <p>a</p>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('#submitLogout').on('click', function () {
            $.ajax({
                type: 'POST',
                url: '/api/Logout',
                data: '',
                success: function (data) {
                    window.location.href = '/Home/Index';
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

            console.log(user.KorisnickoIme);
            console.log(localStorage.setItem("session", null));
            $('input[type="text"]').val('');
            window.location.href = '/Home/Index';
            localStorage.setItem("session", null);
        });

        $('#submitProfil').on('click', function () {
            window.location.href = '/Home/EditProfile';
        });
    </script>

    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
    </script>

    <script>
        $(function () {
            $("#map").googleMap({
                //zoom: -2, // Initial zoom level (optional)
                type: "ROADMAP" // Map type (optional)
            });
            $("#map").addMarker({
                coords: [45.24239, 19.8426221], // GPS coords
                draggable: true,
                success: function (e) {
                    $("#latitude").val(e.lat);
                    $("#longitude").val(e.lon);
                    $.ajax({
                        type: 'GET',
                        url: 'http://maps.googleapis.com/maps/api/geocode/json?latlng=' + e.lat + ',' + e.lon + '&sensor=true',
                        success: function (data) {
                            $('#address').val(data.results[0].formatted_address);
                        },
                    });
                },
                id: 'marker1' // Unique ID for your marker
            });
        })
    </script>

    <script>
        $("#find_btn").click(function () { //user clicks button
            if ("geolocation" in navigator) { //check geolocation available
                $("#map").removeMarker("marker1");
                //try to get user current location using getCurrentPosition() method
                navigator.geolocation.getCurrentPosition(function (position) {
                    $("#map").addMarker({
                        coords: [position.coords.latitude, position.coords.longitude], // GPS coords
                        draggable: true,
                        success: function(e) {
                            $("#latitude").val(e.lat);
                            $("#longitude").val(e.lon);
                            $.ajax({
                                type: 'GET',
                                url: 'http://maps.googleapis.com/maps/api/geocode/json?latlng=' + e.lat + ',' + e.lon + '&sensor=true',
                                success: function (data) {
                                    $('#address').val(data.results[0].formatted_address);
                                },
                            });
                        },
                        id: 'marker1' // Unique ID for your marker
                    });
                    $('#latitude').val(position.coords.latitude);
                    $('#longitude').val(position.coords.longitude);
                    //$("#result").html("Found your location <br />Lat : " + position.coords.latitude + " </br>Lang :" + position.coords.longitude);
                    $.ajax({
                        type: 'GET',
                        url: 'http://maps.googleapis.com/maps/api/geocode/json?latlng=' + position.coords.latitude + ',' + position.coords.longitude + '&sensor=true',
                        success: function (data) {
                            $('#address').val(data.results[0].formatted_address);
                        },
                    });
                });


            } else {
                console.log("Browser doesn't support geolocation!");
            }
        });
    </script>



    <script>
        $(function () {
            var latitude = $('#latitude').val();
            var longitude = $('#longitude').val();
            $.ajax({
                type: 'GET',
                url: 'http://maps.googleapis.com/maps/api/geocode/json?latlng='+latitude+','+longitude+'&sensor=true',
                success: function (data) {
                    $('#address').val(data.results[0].formatted_address);
                },
            });

        })
    </script>

    <script>
        $(function () {

            $.ajax({
                type: 'GET',
                url: '/api/Customer/GetCustomerRides',
                success: function (data) {
                    var array = JSON.parse(data);
                    if (array != null) {
                        for (var i in array) {
                            $("#voznje").append('<option>' + array[i].VremePorudzbine + '</option>');
                        }
                        console.log(array);
                    }
                },
            });

        })
    </script>

    <script>
        $(function () {

            $.ajax({
                type: 'GET',
                url: '/api/Customer/GetActiveCustomerRides',
                success: function (data) {
                    var array = JSON.parse(data);
                    if (array != null) {
                        for (var i in array) {
                            $("#nedodeljeneVoznjeIzmeni").append('<option>' + array[i].VremePorudzbine + '</option>');
                            $("#nedodeljeneVoznjeOtkazi").append('<option>' + array[i].VremePorudzbine + '</option>');
                        }
                        console.log(array);
                    }
                },
            });

            $('#submitZahtevajVoznju').on('click', function () {
                var voznja = {
                    KoordinataX: $('#latitude').val(),
                    KoordinataY: $('#longitude').val(),
                    Adresa: $('#address').val(),
                    TipAutomobila: $('#tipAutomobila').val(),
                };

                var JSONObj = JSON.stringify(voznja);
                console.log(JSONObj);

                $.ajax({
                    type: 'POST',
                    url: '/api/Customer/CreateRide',
                    data: JSONObj,
                    success: function (data) {
                        var object = JSON.parse(data);
                        window.location.href = '/Home/Customer'
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });

            })

        })
    </script>

    <script>
        $('#submitOtkaziVoznju').on('click', function () {
            var data = {
                VremeVoznje: $('#nedodeljeneVoznjeOtkazi').val(),
                Komentar: $('#otkaziKomentar').val()
            };

            var JSONObj = JSON.stringify(data);
            $.ajax({
                type: 'PUT',
                url: '/api/Customer/CancelRide',
                data: JSONObj,
                success: function (data) {
                    window.location.href = '/Home/Customer';
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

        });

    </script>
</body>