<script type="text/javascript" src="/scripts/jquery-1.10.2.min.js"></script> 
<div class="jumbotron" id="test">
    <h1>Taxi služba</h1>
    <button name="logovanje" type="button" value="logovanje">Uloguj se</button>
    <button name="registracija" type="button" value="registracija">Registruj se</button>
</div>
<!--
<script>
    $(function () {
        $('#test').delay(1000).hide(1000).delay(1000).show(1000);
    })
</script>
    -->