@model Dictionary<string, TaxiSluzba.Models.Korisnik>
<script type="text/javascript" src="/scripts/jquery-1.10.2.min.js"></script> 
<body style="background-color:lightgray;">
    <div id="loginPage">
        <div id="logovanjeDiv" style="background-color:black; color:white; width:100vw; height:5em; position:absolute; top:1vw;">   
            <form id="logovanje" action="" method="get">
                <font size="4">
                    <font size="7">
                        &nbsp;
                        <font color="yellow"><b>TAXI</b></font>SLUŽBA
                    </font>
                </font>
                <table align="right">
                    <tr>
                        <td>Korisničko ime: </td>
                        <td>&nbsp;</td>
                        <td>Lozinka: </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><input id="korisnickoLogin" type="text" name="korisnicko"></td>
                        <td>&nbsp;</td>
                        <td><input id="lozinkaLogin" type="password" name="lozinka"></td>
                        <td><input id="submitLogin" type="button" name="submitLogin" value="Ulogujte se" style="background-color:yellow; color:black; border:1px solid gray;"></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </form>
        </div>
            <br /><br /><br />
        <div id="registracijaDiv" style="background-color:lightgray">
            <img align="left" src="http://www.letopdelhumour.fr/wp-content/uploads/2017/02/taxi-cab4.png" />  
            <font size="5">
                    <form id="registracija" action="" method="post">
                        <table align="right">
                    
                            <tr>
                                <td colspan="3" align="center"><font size="6"><b>Napravite nalog</b></font></td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="8">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Korisničko ime: </td>
                                <td>&nbsp;</td>
                                <td><input type="text" name="korisnicko"></td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Lozinka: </td>
                                <td>&nbsp;</td>
                                <td><input type="password" name="lozinka"></td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Ime: </td>
                                <td>&nbsp;</td>
                                <td><input type="text" name="ime"></td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Prezime: </td>
                                <td>&nbsp;</td>
                                <td><input type="text" name="prezime"></td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Pol: </td>
                                <td>&nbsp;</td>
                                <td><input type="radio" name="pol" value="muski" checked> M &nbsp;&nbsp; <input type="radio" name="pol" value="zenski"> Ž</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>JMBG: </td>
                                <td>&nbsp;</td>
                                <td><input type="text" name="jmbg"></td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Kontakt telefon: </td>
                                <td>&nbsp;</td>
                                <td><input type="text" name="telefon"></td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>E-mail: </td>
                                <td>&nbsp;</td>
                                <td><input type="text" name="email"></td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp; </td>
                                <td>&nbsp;</td>
                        
                                <td><input id="submitReg" type="button" name="submitReg" value="Registrujte se"></td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        </table>
                    </form>
             </font>
        </div>
    </div>
    <div id="dispecerUlogovan" hidden>
        <h1>Dispečer</h1>
    </div>
    <div id="vozacUlogovan" hidden>
        <h1>Vozač</h1>
    </div>
    <div id="musterijaUlogovana" hidden>
        <h1>Mušterija</h1>
    </div>

    <script>
        var user;
        $(function () {
            $('#submitLogin').on('click', function () {
                var user = {
                    KorisnickoIme: $('#korisnickoLogin').val(),
                    Lozinka: $('#lozinkaLogin').val()
                };
            
                var JSONObj = JSON.stringify(user);

                $.ajax({
                    type: 'POST',
                    url: '/api/Login',
                    data: JSONObj,
                    success: function (data) {
                        object = JSON.parse(data);
                        alert('Korisnik ' + object.KorisnickoIme + ' ulogovan');
                        $('#loginPage').hide();
                        if (object.Uloga == 0)
                            $('#dispecerUlogovan').show();
                        else if (object.Uloga == 1)
                            $('#vozacUlogovan').show();
                        else if (object.Uloga == 2)
                            $('#musterijaUlogovana').show();
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            
                console.log(user.KorisnickoIme);
            })
        })
    </script>

</body>